.venv
.idea
.coverage
*__pycache__*
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
uv.lock
reports/
*.egg-info
build/
dist/
*hub_registry.json
*.log*
*.db
frontend/node_modules/
frontend/build/
*.venv_ubuntu
rag_db*
frontend/
*examples*
*docker-compose-generated*
packages/agent-registry/src/oai_agent_registry/resources/docker/docker-compose.generated.yaml
*.md
packages/agent-registry/src/oai_agent_registry/resources/python
packages/mcp-registry/src/oai_mcp_registry/resources/docker/docker-compose.generated.yaml
packages/mcp-registry/src/oai_mcp_registry/resources/python
redis.config
.run
*.db-shm
*.db-wal